"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 33
        green: 150
        blue: 243
        alpha: 1
      predefinedColor: "Blue"
    fonts:
      fontSize: 13
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelShadows: true
  core:
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty"
    fontSize: 11
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "editor-background":
    image: {}
    text: {}
  "exception-reporting":
    userId: "14157c14-ce1e-e706-2148-3c7fc1ba2a90"
  "file-icons":
    forceShow: true
  "git-control":
    showGitFlowButton: false
  "git-plus":
    pullBeforePush: "pull --rebase"
  "imdone-atom":
    useAlternateFileWatcher: true
  "terminal-plus":
    style:
      defaultPanelHeight: "200px"
      fontFamily: "Ricty"
      fontSize: "11"
      theme: "homebrew"
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
